extends layout

block content
  #graphics
  .showlog.btn.btn-parent(onclick="showMyLog()") Показать лог
  .showlog.btn.btn-parent(onclick="hideMyLog()") Остановить лог
  script.

    var showLog = false;
    function showMyLog() {

      showLog = true;
      console.log('showLog', showLog)
    }
    function hideMyLog() {
      showLog = false;
      console.log('showLog', showLog)
    }
