doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/pixi.js')
    script(src='/javascripts/with_pixi.js')
  body
    block content
